.btns {
    display: flex;
    flex-direction: row;   
}

.btns>button {
    padding-left: 3em;
    padding-right: 3em;
}
h2 {
display: flex;
justify-content: center;
}
.content {
    margin: 0;
    background-color: rgba(0, 85, 255, 0.278);
    border-radius:10px;
    width: 100%;
    /* padding-top: 1em; */
    /* transform: translateY(-1em); */
}
.content>ul {
    margin: 0;
}

ul {
    list-style-position: inside;
}