* {
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    background-color: #b3b3b3;
}

ul.lista {
    list-style: none;
    /* float:left; */
}

ul li {
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;



}

ul li a {
    border: 1px solid;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 15px;
}

.active {
    border-color: white;

}

#aba1 a {
    background-color: aqua;
}

#aba2 a {
    background-color: red;
}

#aba3 a {
    background-color: yellow;
}


div#centro {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.gif {
    margin: 0 auto;
    display: none;
    height: 100%;
    align-items: start;
    padding: 3rem;
    border: 1px solid black;
}