#principal {
    background-color: black;
    
    

}
#modelo1 {
    color:rgb(181, 89, 32);
}
.cor-parágrafo {
    color: brown;
    font-size: 30px;
}
.aviso {
    color: white;
    font-size: 30px;
}

a:link {
    background-color: grey;
}
a:hover {
    background-color: yellow;
    
}
a:active {
    background-color: green;
}
a:visited {
    color: darkblue;
}
table {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    border: none;
}
table#tabela tr {
    background-color: aliceblue;
    border: none;
    border-color: rgb(2, 118, 219);
    color: rgb(66, 66, 66);
    margin: 10px;
    

}
table#tabela th {
    background-color: purple;
    /* border-radius: 10px; */
}
nav#menu {
    border: 3px solid blue;
    display: block;
}
nav#menu ul {
    list-style-type: none;
}

nav#menu li {
    border: 1px solid blue;
    display: inline-block;
    background-color: white;
    color: red;
    padding: 10px;
}
nav#menu h1 {
    display: none;
}